body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../background_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px
}

.u3_original {
    background-image: url('../Free_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:66px;
    top:120px;
    width:320px;
    height:480px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u4 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:66px;
    top:120px;
    width:320px;
    height:480px
}

.u5_original {
    background-image: url('../tool-bar-bg_files/u6_original.png');
}

.u5_container {
    position:absolute;
    left:66px;
    top:140px;
    width:320px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:45px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:66px;
    top:140px;
    width:320px;
    height:45px
}

.u8 {
    position:absolute;
    left:129px;
    top:152px;
    width:200px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_original {
    background-image: url('../Free_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:75px;
    top:146px;
    width:52px;
    height:31px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:8px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:75px;
    top:146px;
    width:52px;
    height:31px
}

.u12_original {
    background-image: url('../tab_files/u7_original.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px
}

.u15_original {
    background-image: url('../tab_files/u10_original.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px
}

.u18_original {
    background-image: url('../tab_files/u13_original.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

.u19 {
    position:absolute;
    left:2px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px
}

.u21_original {
    background-image: url('../tab_files/u16_original.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

.u22 {
    position:absolute;
    left:2px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px
}

.u24_original {
    background-image: url('../tab_files/u19_original.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px
}

.u27_original {
    background-image: url('../tab_files/u22_original.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

.u28 {
    position:absolute;
    left:2px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px
}

.u30_original {
    background-image: url('../tab_files/u25_original.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

.u31 {
    position:absolute;
    left:2px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px
}

.u33_original {
    background-image: url('../tab_files/u28_original.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

.u34 {
    position:absolute;
    left:2px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px
}

.u36_original {
    background-image: url('../tab_files/u31_original.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

.u37 {
    position:absolute;
    left:2px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px
}

.u39_original {
    background-image: url('../tab_files/u34_original.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

.u40 {
    position:absolute;
    left:2px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px
}

.u42_original {
    background-image: url('../tab_files/u37_original.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px;
}

.u43 {
    position:absolute;
    left:2px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:44px
}

.u45_original {
    background-image: url('../Free_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:250px;
    top:350px;
    width:83px;
    height:83px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:83px;
}

.u46 {
    position:absolute;
    left:2px;
    top:34px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:250px;
    top:350px;
    width:83px;
    height:83px
}

.u47_original {
    background-image: url('../Free_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:110px;
    top:220px;
    width:83px;
    height:83px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:83px;
}

.u48 {
    position:absolute;
    left:2px;
    top:34px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:110px;
    top:220px;
    width:83px;
    height:83px
}

.u49_original {
    background-image: url('../Free_files/u49_original.png');
}

.u49_container {
    position:absolute;
    left:110px;
    top:350px;
    width:83px;
    height:83px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:83px;
}

.u50 {
    position:absolute;
    left:2px;
    top:34px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:110px;
    top:350px;
    width:83px;
    height:83px
}

.u51_original {
    background-image: url('../Free_files/u51_original.png');
}

.u51_container {
    position:absolute;
    left:250px;
    top:220px;
    width:83px;
    height:83px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:83px;
}

.u52 {
    position:absolute;
    left:2px;
    top:34px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:250px;
    top:220px;
    width:83px;
    height:83px
}

.u53_original {
    background-image: url('../Free_files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:90px;
    top:490px;
    width:270px;
    height:36px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:270px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:10px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:90px;
    top:490px;
    width:270px;
    height:36px
}

.u55 {
    position:absolute;
    left:81px;
    top:498px;
    width:280px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_original {
    background-image: url('../top-bar_files/u3_original.png');
}

.u56_container {
    position:absolute;
    left:66px;
    top:120px;
    width:320px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:20px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:66px;
    top:120px;
    width:320px;
    height:20px
}

